@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.nav-subitem-content {
  display: none;
}

.nav-subitem:hover + .nav-subitem-content,
.nav-subitem-content:hover {
  display: block;
}
select {
  appearance: none;
}

.mySwiper {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.swiper-button-next:after {
  position: relative;
  right: -10px;
}
.swiper-button-prev:after {
  position: relative;
  left: -10px;
}
